@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Yeseva+One&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

img {
    width: 100%;
}

section {
    width: 100%;
    padding: 24px;
}

h1 {
    font-family: "Yeseva One", cursive;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

p {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    opacity: 70%;
}
